<!DOCTYPE html>

<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css"/>


<html lang="en"><head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<!-- Optional theme -->
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<!-- Latest compiled and minified JavaScript -->
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
	<style>

	.navbar-default .navbar-fixed-top {
		background-color: #900C3F;
	}

	</style>
	<script>
	/* ============================================================
	 * bootstrap-dropdown.js v2.0.1
	 * http://twitter.github.com/bootstrap/javascript.html#dropdowns
	 * ============================================================
	 * Copyright 2012 Twitter, Inc.
	 *
	 * Licensed under the Apache License, Version 2.0 (the "License");
	 * you may not use this file except in compliance with the License.
	 * You may obtain a copy of the License at
	 *
	 * http://www.apache.org/licenses/LICENSE-2.0
	 *
	 * Unless required by applicable law or agreed to in writing, software
	 * distributed under the License is distributed on an "AS IS" BASIS,
	 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
	 * See the License for the specific language governing permissions and
	 * limitations under the License.
	 * ============================================================ */


	!function( $ ){

	  "use strict"

	 /* DROPDOWN CLASS DEFINITION
	  * ========================= */

	  var toggle = '[data-toggle="dropdown"]'
	    , Dropdown = function ( element ) {
	        var $el = $(element).on('click.dropdown.data-api', this.toggle)
	        $('html').on('click.dropdown.data-api', function () {
	          $el.parent().removeClass('open')
	        })
	      }

	  Dropdown.prototype = {

	    constructor: Dropdown

	  , toggle: function ( e ) {
	      var $this = $(this)
	        , selector = $this.attr('data-target')
	        , $parent
	        , isActive

	      if (!selector) {
	        selector = $this.attr('href')
	        selector = selector && selector.replace(/.*(?=#[^\s]*$)/, '') //strip for ie7
	      }

	      $parent = $(selector)
	      $parent.length || ($parent = $this.parent())

	      isActive = $parent.hasClass('open')

	      clearMenus()
	      !isActive && $parent.toggleClass('open')

	      return false
	    }

	  }

	  function clearMenus() {
	    $(toggle).parent().removeClass('open')
	  }


	  /* DROPDOWN PLUGIN DEFINITION
	   * ========================== */

	  $.fn.dropdown = function ( option ) {
	    return this.each(function () {
	      var $this = $(this)
	        , data = $this.data('dropdown')
	      if (!data) $this.data('dropdown', (data = new Dropdown(this)))
	      if (typeof option == 'string') data[option].call($this)
	    })
	  }

	  $.fn.dropdown.Constructor = Dropdown


	  /* APPLY TO STANDARD DROPDOWN ELEMENTS
	   * =================================== */

	  $(function () {
	    $('html').on('click.dropdown.data-api', clearMenus)
	    $('body').on('click.dropdown.data-api', toggle, Dropdown.prototype.toggle)
	  })

	}( window.jQuery );
	</script>

    <title>Fixed Top Navbar Example for Bootstrap</title>


  </head>

  <body>
	<!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Networking Webtools</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="list.html">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Tools <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="{% url 'show:show' %}">Running Configs</a></li>
                <li><a href="{%url 'show:compare_run' %}">Compare Previous Configs</a></li>
                <li><a href="#">Subnet Locator</a></li>
                <li><a href="#">Something else here</a></li>
                <li role="separator" class="divider"></li>
                <li class="dropdown-header">Nav header</li>
                <li><a href="#">Separated link</a></li>
                <li><a href="#">One more separated link</a></li>
              </ul>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="{% url 'show:logout_view' %}">Logout</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
    </div>
    <div class="container">

      <!-- Main component for a primary marketing message or call to action -->
      <div class="jumbotron">
        <h1>Running Config Generator</h1>
        <p>Select Appropriate Device Fields</p>
        {% if type %}
        <p>{{ type }}</p>
        {% else %}
        <p>False</p>
        {% endif %}
        <div class="row">
        	<div class="col-md-4">
		        <div class="well" style="margin-top: 40px; margin-left: -20px; margin-right:-20px">
		        	<h4>Device Selection</h4>
		        	<form action = "{% url 'show:show' %}" method="POST" id="form1">
		        	{% csrf_token %}
					  	
					  	<fieldset class="form-group">
					    	<label for="type">OS</label>
					    	<select class="form-control" id="os">
					      		<option>IOS</option>
					      		<option>NXOS</option>
					    	</select>
					    	<small class="text-muted">Pick one choice.</small>
					 	 </fieldset>
					  	<fieldset class="form-group">
					    	<label for="exampleSelect2">Function</label>
					    	<select class="form-control" id="function">
					      		<option>CORE</option>
					      		<option>DIST</option>
					      		<option>ACCESS</option>
					      		<option>OTV</option>
					      		<option>WAN</option>
					      		<option>VXLAN</option>
					   		</select>
					  	</fieldset>
						<button type="submit" class="btn btn-default">Submit</button>
					</form>


		        </div>
		    </div>
		    <div class="col-md-8">
		    	<div class="well" style="margin-top: 40px; margin-right:-20px">
		    		<h4>Command List</h4>
		    		<form action="{% url 'show:show'}" method="POST" id="form2" name="selectionForm">
		    		{% csrf_token %}
		    		<fieldset class="form-group">
				    	<label for="hostname">Hostname or IP</label>
				    	<input type="text" class="form-control" id="hostname" placeholder="Enter hostname or IP">
				  	</fieldset>
	    			<fieldset class="form-group">
				  		<label for="username">Username</label>
				  		<input type="text" class="form-control" id="username" placeholder="Username on host">
				  	</fieldset>
				  	<fieldset class="form-group">
					   	 	<label for="password">Password</label>
					   	 	<input type="password" class="form-control" id="password" placeholder="Router password">
					</fieldset>
		    		<fieldset class="form-group">
				    	<label for="showList">Command List</label>
				    	<select multiple class="form-control" id="showList" name="selectValues">
				   		</select>
					</fieldset>
					<button id="all" style="margin-bottom: 40px">All</button>
				  	<fieldset class="form-group">
				    	<label for="exampleTextarea">Tag/Remarks</label>
				    	<textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
				  	</fieldset>
				  	<button id="form2submit" type="submit" a="_blank">Submit</button>
		    		</form>
		    		<script type='text/javascript'>
					function getCookie(name) {
					    var cookieValue = null;
					    if (document.cookie && document.cookie != '') {
					        var cookies = document.cookie.split(';');
					        for (var i = 0; i < cookies.length; i++) {
					            var cookie = jQuery.trim(cookies[i]);
					            // Does this cookie string begin with the name we want?
					            if (cookie.substring(0, name.length + 1) == (name + '=')) {
					                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
					                break;
					            }
					        }
					    }
					    return cookieValue;
					}
					var csrftoken = getCookie('csrftoken');
					$("#form1").on('submit', (function(e) {

					    var url_th = "{% url 'show:show' %}"; // the script where you handle the form input.
					    var formData = {
					    	'os': $("#os").val(),
					    	'function': $("#function").val(),
					    };
					    window.alert(url_th);
					    $.ajaxSetup({
						    crossDomain: false, // obviates need for sameOrigin test
						    beforeSend: function(xhr, settings) {
						        xhr.setRequestHeader("X-CSRFToken", csrftoken);
						    }
						});
					    $.ajax({
					    	url: url_th,
					    	type: "POST",
					    	data: formData,
					    	success: function(response){
					    		window.alert("Hi");
					    		var lines = response['lines'];
					    		var innerMarkup = "";
					    		for (var x = 0; x<lines.length; x++)
					    		{
					    			innerMarkup = innerMarkup + "<option>" + lines[x] + "</option>";
					    		}
					    		document.getElementById("showList").innerHTML = innerMarkup;
					    		window.alert(response);
					    		console.log(response);
					    	}
					    });
					    e.preventDefault();

					}));
					console.log("hello");

					$("#all").click(function(e){
						$("#showList").children().attr('selected', 'selected');
						e.preventDefault();
					})

					$("#form2submit").click(function(e)
					{
						var url_th = "{% url 'show:show' %}";
						var lines = $("#showList").val() || [];
						var line_total = "";
						for (var x = 0; x < lines.length; x++){
							line_total = line_total + lines[x] + "\n";
						}
						var formData = {
						'hostname': $("#hostname").val(),
					    'username': $("#username").val(),
					    'password': $("#password").val(),
					    'lines': line_total,
						};

						$.ajaxSetup({
						    crossDomain: false, // obviates need for sameOrigin test
						    beforeSend: function(xhr, settings) {
						        xhr.setRequestHeader("X-CSRFToken", csrftoken);
						    }
						});

						$.ajax({
							url: url_th,
							type: "POST",
							data: formData,
							success: function(response){
								console.log(response);
							},
						});
					e.preventDefault();
						//var form = document.forms.selectionForm;
					 	// var values = "";
					 	// var x = 0;
					 	// for (x=0; x<form.selectValues.length; x++)
					 	// {
					 	// 	if (form.selectValues[x].selected)
					 	// 	{
					 	// 		values = form.selectValues[x].value + "\n";
					 	// 	}
					 	// }
					});
		    		</script>
		    	</div>
		    </div>
        </div>
      </div>

    </div> <!-- /container -->
  	<script src="assets/js/jquery.js" type="text/javascript"></script>
	<script src="assets/js/bootstrap.min.js" type="text/javascript"></script>	
</body>


<!-- <script type='text/javascript'>
	function submitForm(){
		console.log("Logged");
		var formData = {
				'hostname' : $(#hostname).val(),
				'password' : $(#password).val(),
				'type' : $(#type).val(),

			};
			console.log(formData);

			$.ajax({
				type: 'POST',
				url: "{% url 'show:show'}",
				contentType: 'application/json; charset=utf-8',
				data: $.toJSON(formData),
				dataType: 'text',
			})
				.done(function(data) {
					console.log(data);


				});

			event.preventDefault();
	}
</script> -->


</html>